body {
    background-color: #001EFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
    margin: auto;
}

a {
    color: #E1FF00;
    font-weight: bold;
}

h1 {
    font-size: 3vw;
}

h1, h2, p, legend, label, li {
    color: white;
}

form {
    justify-content: center;
}

button {
    background-color: #B3001B;
    color: white;
    border: white 1px solid;
}

button:hover {
    border: black 1px solid;
}

button:active {
    background-color: #57000d;
}

fieldset {
    display: flex;
    flex-direction: column;
}

.queue {
    background-color: #B3001B;
    padding: 2rem 4rem 2rem 4rem;;
    border: white solid;
}

header {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 2rem 0;
}

form * {
    padding: 0.5vw;
    margin-top: 1vw;
}

#current-song {
    font-weight: bold;
}